@import '../common.scss';

.root {
  height: 100%;
  width: 100%;
}

.box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right:30px;
  color: $B10;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

.wrapped {
    padding: 12px;
    background-color: $B50;
    transition: background .2s linear;

    &:hover {
      background-color: $B40;
    }
}

.plain {
  background-color: $paletteD6;

  &:hover {
    background-color: $B40;
  }
  
  &:active {
    background-color: $B30;
  }
}

.dashes {
  box-sizing: border-box;
  border: solid 1px $B20;
  border-style: dashed;
  border-radius: 8px;
  background-color: $S50;
  &:hover {
    background-color: $B40;
  }
  
  &:active {
    background-color: $B30;
  }
}

.filled {
  background-color: $B50;
  border-radius: 8px;

  &:hover {
    background-color: $B40;
  }
  
  &:active {
    background-color: $B30;
  }
}

.image {
  box-sizing: border-box;
  border: solid 1px $B20;
  border-style: dashed;
  border-radius: 3px;
}


.disabled {
  .dashes {
    background-color: $S50;
    color:$D55;
    border: solid 1px $D55;
    border-style:dashed;
  }

  .plain {
    background-color: $S50;
    color:$D55;
  }

  .filled {
    background-color: $S50;
    color:$D55;
  }
}

.left {
  align-items: center;
  justify-content: flex-start;
}

.right {
  align-items: center;
  justify-content: flex-end;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
