@import '../common.scss';

.root {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right:30px;
  color: $B10;
}

.tiny {
  .container {
    flex-direction: row;
    font-size: 12px;
  }
  .icon {
    width: 23px;
    height: 23px;
  }
}   

.small {
  .icon {
    width: 47px;
    height: 47px;
  }
}
  
.medium {
  .icon {
    width: 63px;
    height: 63px;
  }
}

.large {
  .icon {
    width: 76px;
    height: 76px;
  } 
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  color:inherit;


}

.plain {
  background-color: #ffffff;

  &:hover {
    background-color: $B40;
  }
  
  &:active {
    background-color: $B30;
  }
}

.dashes {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.48);
  border: solid 1px $B20;
  border-style: dashed;
  border-radius: 8px;
  
  &:hover {
    background-color: $B40;
  }
  
  &:active {
    background-color: $B30;
  }
}

.filled {
  background-color: $B50;
  border-radius: 8px;

  &:hover {
    background-color: $B40;
  }
  
  &:active {
    background-color: $B30;
  }
}


.left {
  align-items: center;
  justify-content: flex-start;
}

.right {
  align-items: center;
  justify-content: flex-end;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.disabled {
  background-color: rgba(255, 255, 255, 0.48);
  color:$D55;
  border: solid 1px #cbd3dc;
  border-style:dashed;
}
